.left-col {
    float: left;
    width: 25%;
}

.right-col {
    float: left;
    width: 75%;
}

.bar {
    height: 1em;
    background-color: black;
    clear: both;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: solid thin black;
}

th, td {
    padding: .25em;
    width: auto;
}